{{% load bootstrap4 %} {% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title>Neighbourhood - {{title}}</title>
    {% else %}
    <title> Neighbourhood </title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basehood.css' %}"> {% endblock %}

</head>

<body>

<div class="container" style="background-image: url(https://images.pexels.com/photos/280222/pexels-photo-280222.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
    {% include "navbar.html" %}
    <div style="margin-top: 200px; background-color:cadetblue;">
    </div>
    {%block content%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% bootstrap_javascript %} {% endblock %}
</body>

</html>