{%extends 'base.html'%} {%block content%}
<div class="container">
    <div class="row" style="padding-bottom:20px">

        <div class="col-sm-12 col-sm-12 col-md-12">
        </div>
        <div class="col-md-9">
            <div class="row">
                {% if neighbourhoods %} {% for neighbourhood in neighbourhoods %}
                <div class="col-xs-12 col-sm-12 col-md-4" style="width:100%;">
                    <br>
                    <br>
                    <div class="card" style="width:100%;">

                        <div class="card-body">
                            <p style="font-weight:bolder;text-decoration-line: underline;">{{neighbourhood.name}}({{neighbourhood.location}})</p>
                            <p style="font-size:17px;">{{neighbourhood.description.capitalize}}</p>
                            <p>
                                <b>Police Department: </b>{{neighbourhood.police_dept}}</p>
                            <p>
                                <b>Health Department: </b>{{neighbourhood.health_dept}}</p>
                        </div>
                    </div>
                </div>
                {%endfor%} {%else%}
                <h4>No hoods added yet! You can create one
                    <a href="{% url 'new_hood' %}">here</a>
                </h4>
                {%endif%}



            </div>

        </div>


    </div>
</div>
{%endblock%}