{%extends 'base.html'%} {% load bootstrap4 %} {% load static %} {% block content %} {{block.super}}
<div class="container" style="background-image: url(https://images.pexels.com/photos/1744537/pexels-photo-1744537.png?auto=compress&cs=tinysrgb&dpr=1&w=500)">

        <div class="col-sm-12 col-sm-12 col-md-12"style="margin-right:100px;">
        </div>
        <div class="jumbotron" style="opacity:0.7">
            <div class="row">
                {% if neighbourhoods %} {% for neighbourhood in neighbourhoods %}

                        <div class="jumbotron">
                                <p style="font-weight:bolder;text-decoration-line: underline;color:blue">{{neighbourhood.name}}({{neighbourhood.location}})</p>
                            <p>{{neighbourhood.description.capitalize}}</p>
                        </div>
                        {%endfor%}
                        {%endif%}



            </div>

        </div>


    </div>
{%endblock%}
