<nav class="navbar fixed-top navbar-expand-md navbar" style="padding:50px;width:100%;background-image: url('https://images.pexels.com/photos/1644794/pexels-photo-1644794.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="{%url 'welcome'%}">Home</a>

    
        <!-- Search -->
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
            <input type="text" class="form-control">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
    </div>
</nav>