{%extends 'base.html'%} {% load bootstrap4 %} {% load static %} {% block content %} {{block.super}}

<div class="jumbotron" style="background-color: grey;opacity:o.7">
    <div class="row" style="padding-bottom:20px">

        <div class="col-sm-12 col-sm-12 col-md-12">
        </div>
        <div class="col-md-9">
            <div class="row">
                {% if neighbourhoods %} {% for neighbourhood in neighbourhoods %}
                <div class="col-xs-12 col-sm-12 col-md-4" style="width:100%">
                    <div class="card" style="width:100%">
                        <div class="card-body">
                            <p style="font-weight:bolder;text-decoration-line: underline;">{{neighbourhood.name}}({{neighbourhood.location}})</p>
                            <p>{{neighbourhood.description.capitalize}}</p>
                        </div>

                        </div>
                    </div>
                </div>
                {%endfor%} {%else%}
                <div class="container" style="background-color:cadetblue;color:white;font-size: 2.5em;padding-right: 300px">
                <h4>No hoods added yet! You can create one
                    <a href="{% url 'new_hood' %}">here</a>
                </h4>
                </div>
                {%endif%}



            </div>

        </div>


    </div>
</div>
    {%endblock%}